/*--CSS Reset--*/
*{
    padding:0%;
    margin:0%;
    font-size: 100%;
    line-height: 1em;
}

body{
    background:#f7f7f7;
    color: #333;
    font-family: pt-sans-pro, sans-serif;
    font-weight: 400;
    font-style: normal;
}

header, section {
    width:80%;
    max-width: 700px;
    margin:auto;
    padding:0;
}

section{
    margin-bottom:4rem;
}

.dark{background:#FF8B7D}

.light {
    background:#40221F;
    padding: 2em 0;

}
.light p{
    color:#f7f7f7;
}
/*--Typographic styling--*/

header h1 h2 p{
    color:#806765;
}

header h1 h2 {
    font-family: pt-sans-pro, sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 2.827rem;
    color:#806765;
    margin-top:-4rem;
    margin-bottom: -2rem;
    text-indent:1.5rem;
    padding: 2em 0;

}

header h2{
    font-size: 1.999rem;
    font-style:italic;
    color:#ffffff;
    padding:2em 0 2em 0;
}

header p{
    padding-bottom:4rem;
    font-size:1.3rem;
    color:#f7f7f7;
}


header h1{
    font-size:5.653rem;
    margin-top:2.7rem;
    color:#f7f7f7;
    padding-top:1em;

}

h3 {
    color:#E67C70;
}

p{
    color:#333;
    padding:1em 0;
    line-height:1.4;
}

h3{
    font-size:1.999rem;
    margin:3em 0 1em 0;
}

blockquote{
    font-style:italic;
    font-size: 1.999rem;
    color:#40221F;
    hanging-punctuation:first;
    text-indent:-0.9rem;
}

cite{
    font-style: normal;
    font-size:1.2rem;
    color:#333;
}

a{
    color:#760071;
    text-decoration:none;
}

a:hover{
    color:#333;
    border-bottom:1px dotted;
}

/*--Styling Nav--*/
nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background:#BF675E;
    padding:2em 0;
    font-size:0.75rem;
}

nav ul{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1px;
}

nav ul li{
    display:inline;
    margin:20px;
}

nav a{
    color:#40221F;
}

nav a:hover{
    border-bottom:none;
    color:#f7f7f7;
    transition:all 0.3s ease-in-out;
}

/*--Bullet Points--*/

section em{
    color:#760071;
    font-style: oblique;
}

section ul {
    color:#4f014c;
}

section li {
    color:#333;
    
}

/*--Image Control--*/
img{
    display:block;
    margin:4em 0;
    padding:0;
    max-width:100%;
}

/*--Footer--*/

footer a{
    text-align:center;
    font-size:0.75rem;
    color:#40221F;
    margin:4rem 0 3em 0;
}
footer p{
    color:#40221F;
}
footer {
    text-align:center;
}



