/*--CSS Reset--*/
*{
    padding:0%;
    margin:0%;
    font-size: 100%;
    line-height: 1em;
}

body{
    background:#f7f7f7;
    color: #333;
}

header, section {
    width:100%;
    max-width: 800px;
    margin:auto;
    padding:0;
}

section{
    margin-bottom:4rem;
}

.dark{
    background:#634444;
    padding: 1em 0 1em 0;
}


.gridimage{
    display:grid;
    grid-gap:10px;
    grid-template-columns:repeat(auto-fill, minmax(340px, 1fr));
}



/*--Typographic styling--*/

header h1 h2 p{
    color:#634444;
}

header h1 h2 {
    margin-top:-rem;
    margin-bottom: -2rem;
    text-indent:1.5rem;
}

header h2{
    font-family: josefin-slab, serif;
    font-size: 1.999rem;
    font-style:italic;
    color:#6E6E6E;
    margin-top: -2em;
}

header p{
    padding-bottom:4rem;
    font-size:1.3rem;
    color:#333;
}


header h1{
    font-family: josefin-slab, serif;
    font-style: normal;
    font-weight: bold;
    line-height: 100px;
    color: #6E4D4D;
    padding: 1em 0;
    font-size:5.653rem;
    margin-top:2rem;
}

.mornings h3 {
    font-family: josefin-slab, serif;
    font-style: italic;
    color:#bababa;
    margin-top:2.7rem;
    padding:1em 0;
}

p{
    color:#ffffff;
    padding:1em 0;
    line-height:1.4;
}

p{
    font-family:"josefin-sans";
}

h3{
    font-size:1.999rem;
    margin:3em 0 1em 0;
    font-family: josefin-slab, serif;
    font-style: italic;
}

blockquote{
    font-family: josefin-slab, serif;
    font-style: bold italic;
    font-size: 1.5rem;
    color:#bababa;
    hanging-punctuation:first;
    text-indent:-0.9rem;
}

p .dropclass{
    float: left;
    font-size: 6rem;
    padding-right: .05em;
    line-height: .5;
    color: #bababa;
}

cite{
    font-style: normal;
    font-size:1.2rem;
    color:#333;
}

a{
    color:#634444;
    text-decoration:none;
}

a:hover{
    color:#333;
    border-bottom:1px dotted;
}

.indent{
    padding-left:4em;
    font-style:italic;
}

.intro p{
    color:#333;
}

.street p{
    color:#333;
}

.market p{
    color:#333;
}

.market h3{
    color:#634444;
}

.street h3{
    color:#634444;
}


/*--Styling Nav--*/
nav{
    position:fixed;
    top:0;
    left:0;
    margin:0;
    width:100%;
    background:#634444;
    padding:3em 0;
    font-family: josefin-slab, serif;
    font-size:0.75rem;
}

nav ul{
    text-align:center;
    text-transform:uppercase;
    letter-spacing:1px;
}

nav ul li{
    display:inline;
    margin:20px;
}

nav a{
    color:#ffffff;
}

nav a:hover{
    border-bottom:none;
    color:#6E6E6E;
    transition:all 0.3s ease-in-out;
}



/*--Image Control--*/


img{
    display:block;
    margin:4em 0;
    padding:0;
    max-width:100%;
}


/*--Footer--*/

footer{
    background:#070707;
    text-align:center;
}

footer a{
    font-family:"josefin-sans";
    text-align:center;
    font-size:0.75rem;
    color:#f7f7f7;
    margin:4rem 0 3em 0;
}

footer p{
    color:#f7f7f7;
    font-family:"josefin-sans";
    font-style: normal;
    font-size:small;
}


